numpy>=1.19.5,<2
fire>=0.4.0,<0.5.0
requests>=2.27.1,<3
ffmpeg-python
yt_dlp
torch==2.0.0
transformers==4.30.0
torchdata==0.6.0
torchaudio==2.0.0
webdataset>=0.1.103,<0.2
torchvision>=0.10.1,<2
laion_clap
open-clip-torch>=2.0.0,<3.0.0
opencv-python
video2numpy>=2.3.0,<2.4.0
fsspec==2022.1.0
pyarrow>=6.0.1,<8
pandas>=1.1.5,<2
scikit-learn==1.3.0
webvtt-py
wandb
timeout-decorator
scenedetect[opencv]==0.6
decord
langdetect
soundfile
omegaconf
einops
Pillow
accelerate
bitsandbytes
scipy
tqdm>=4.62.3,<5
imagehash>=4.3.1